.header {
  margin: 0px;
  padding: 20px;
  background: rgb(32, 32, 32);
}

.navbar {
  color: #00D8FF;
  display: flex;
  align-content: center;
  padding: 15px 0px;
}

.font-700 {
  font-family: "Inter", serif;
  font-weight: 700;
  font-style: normal;
}

.font-400 {
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: normal;
}

.title {
  color:rgb(6, 209, 255);
  font-size: 1.4rem;
}

.logo {
  padding-right: 10px;
}

body {
  height: 100vh;
  background-color: rgb(39, 42, 46);
  margin: 0px;
  background-image: url("./assets/react-logo-half.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.main {
  padding: 15px;
}

.list {
  max-width: 400px;
}

.list-title {
  color: white;
  font-size: 2rem;
}

.list-item {
  color: white;
  font-size: 1rem;
  padding-block: 10px;
  line-height: 19px;
}

.list-item::marker {
  color: rgb(6, 209, 255);
  font-size: 1.5rem;
}

.background-logo {
  color: white;
}